body {
    background-color: #F5F5F5;  
}

pre {
    overflow-x: hidden;
    border: none;
    margin-bottom: 0px;
}

#mousenose:hover {
    color: red;
    cursor: pointer;
}

#mousenose:hover #sen {
    display:block;
}

#sen {
    display:none;
    position:absolute;
    top: 540px;
    left: 50%;
    width: 215px;
    text-align: center;
    color: red;
    /*border:1px solid red;*/
    border-radius: 5px;
    padding:5px;
    margin-left: 25px;
    font-size: 10px;
}

.float_center {
    display: inline-block;
    vertical-align: top;
}

#pet {
    background-color: #F5F5F5;  
}

#mouse {
    margin-top: 20px;
}

#name {
    margin-right: 5%;
    padding-top: 40px;
}
