body {
    background-color: #F5F5F5;  
}

pre {
    overflow-x: hidden;
    border: none;
    margin-bottom: 0px;
}

#sblog {
    color: #ec1b5a;
}

#syang {
    color: #79aefe;
}

#sxi {
    color: #279636;
}

#scomma {
    color: #ead24c;
}

#sto {
    color: #7d5d81;
}

#ss {
    color: #314190;
}

#swelcome {
    color: #F69C55;
}

#smouse {
    color: #F69C55; 
}

#ssky {
    color: #79aefe;
}

#sground {
    color: #279636;
}

#mousenose:hover {
    color: red;
    cursor: pointer;
}

#sen1, #sen2 {
    display:none;
    position:absolute;
    left: 50%;
    width: 215px;
    text-align: center;
    /*border:1px solid red;*/
    border-radius: 5px;
    padding:5px;
    font-size: 10px;
}

#sen1 {
    color: red;
    top: 540px;
    margin-left: 25px;    
}

#sen2 {
    color: green;
    top: 540px;
    margin-left: 50px;
}

.float_center {
    display: inline-block;
    vertical-align: top;
}

#pet {
    background-color: #F5F5F5;  
    margin-top: -50px;
}

#mouse {
    margin-top: 20px;
}

#name {
    margin-right: 5%;
    padding-top: 40px;
}
