body {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

pre {
	/*background-color: #fff;*/
	border: none;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

ul {
	padding-left: 0px;
	margin-bottom: 0px;
	list-style-type: none;
}

li {
	margin-bottom: 3px;
	background-color: #F5F5F5;
}


p.content {
	margin-top: 5px;
	padding-left: 15px;
	/*white-space:pre-wrap;*/
}

a.red {
	color: red;
	text-decoration: none;
}

a.blue {
	color: blue;
	text-decoration: none;
}

a.green {
	color: green;
	text-decoration: none;
}

.title{
	background: #F5F5F5;
	margin-bottom: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}

.note {
	word-wrap: break-word;
	/*word-break:break-all;*/
	display: inline-block; 
	width: 55%; 
	padding-left: 10px;
	background: #F5F5F5; 
	vertical-align: top; 
	min-height: 110px;
}

.table {
	overflow: hidden;
	display: inline-block; 
	width: 42%;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 0px;
}

